<!DOCTYPE html>
<html>
  <head>
    <title>Warbler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Warbler</h1>   
    <%= image_tag "warbler.png" %> 
    <%= yield %>
  </body>
</html>

<!--
  <header>
    <% if logged_in? %>
      <h1>Hello, <%= current_user.name %></h1>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden"
              name="_method"
              value="DELETE">
        <input type="hidden" 
              name="authenticity_token" 
              value="<%= form_authenticity_token %>">
        <input type="submit"
              value="Log Out!">
      </form>
    <% else %>
      <a href="<%= new_user_url%>">Sign Up!</a>
      <a href="<%= new_session_url %>">Log In</a>
    <% end %>
  </header>
  <% if flash[:errors] %>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
-->